\documentclass{standalone}

\usepackage{tikz}

\usetikzlibrary{arrows.meta}
\usetikzlibrary{calc}
\usetikzlibrary{fit}
\usetikzlibrary{graphs}
\usetikzlibrary{matrix}
\usetikzlibrary{positioning}

\usetikzlibrary{graphdrawing}
\usegdlibrary{layered}

\begin{document}
{{ tikz }}
\end{document}
